<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario</h1>
    <form action="./procesar" method="post" enctype="multipart/form-data">
        <label for="nombre">Pon tu nombre: </label>
        <input type="text" name="nombre" id="nombre"/>
        <button type="submit" value="enviar">Enviar</button>
    </form>

    <button><a href="./">Volver</a></button>
</body>
</html>